
.nav-wrapper {
    height: 20px;
    width: 90%;
    display: flex;
    justify-content: right;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    margin-right: 15px;
    position: fixed;
    z-index: 4;

    .right-side {
        display: flex;
    }

    .nav-link-wrapper {
        height: 22px;
        margin-right: 15px;
        margin-left: 15px;
        border-bottom: 1px solid transparent;
        transition: 0.5s ease-in-out;
    
        a {
          color: $light-blue;
          text-decoration: none;
        }
    
        &:hover {
          border-bottom: 1px solid $light-blue;
          
          
        }
      }
}